[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
asynctest = "*"
pytest = "*"
pydantic = "*"

[dev-packages]
isort = "*"
requests = "*"

[requires]
python_version = "3.11.7"
